{% extends "layout.html" %}

{% block contentBoxEN %}
{% endblock %}

{% block contentBoxKR %}
<h2 class="centerText">today's emotion</h2>
<form id="calendar" action="{{ url_for('calendarcheck') }}" method="POST">
<table> 
<tr id="headerRow">
  <td class="ratingColm"><strong>verybad</strong></td>
  <td class="ratingColm"><strong>bad</strong></td>
  <td class="ratingColm"><strong>soso</strong></td>
</tr>
<tr class="questionRow">
<td><img src="/static/degree1.png" width="40%" height="100%"></td>
<td><img src="/static/degree2.png" width="40%" height="100%"></td>
<td><img src="/static/degree3.png" width="40%" height="100%"></td>
</tr>  
<tr class="questionRow">
  <td><input type="radio" name="var1" value="1"></td>
  <td><input type="radio" name="var1" value="2"></td>
  <td><input type="radio" name="var1" value="3"></td>
</tr>
<tr id="headerRow">
  <td class="ratingColm"><strong>happy</strong></td>
  <td class="ratingColm"><strong>veryhappy</strong></td>
</tr>
<tr class="questionRow">
<td><img src="/static/degree4.png" width="40%" height="100%"></td>
<td><img src="/static/degree5.png" width="40%" height="100%"></td>
</tr>
<tr class="questionRow">
  <td><input type="radio" name="var1" value="4"></td>
  <td><input type="radio" name="var1" value="5"></td>
</tr>
</table>
<table>
<tr id="headerRow">
  <td class="ratingColm"><strong>memo</strong></td>
</tr>
<tr class="questionRow">
  <td><textarea name="memo" row="5" col="10" style="width:100%" onclick="this.value=''">제한 글자는 50자 입니다.</textarea></td>
</tr>
</table>

<input type="submit" value="제출">
</form>
{% endblock %}