{% extends "layout.html" %}

{% block contentBoxEN %}
{% endblock %}

{% block contentBoxKR %}
<h2 class="centerText">{{monthhead}}월 감정로그</h2>
<table border = "1">
{% if len != 0 %}	
	{% for i in range(len) %}
		<tr>
		{% for day in month[i] %}
			{% if day[0].weekday() == 6 %}
				<td><font color="red">{{day[0].strftime("%m/%d/%a")}}</font></td>
			{% endif %}
			{% if day[0].weekday() == 5 %}
				<td><font color="blue">{{day[0].strftime("%m/%d/%a")}}</font></td>
			{% endif %}
			{% if day[0].weekday() != 6 %}
				{% if day[0].weekday() != 5 %}
					<td>{{day[0].strftime("%m/%d/%a")}}</td>
				{% endif %}
			{% endif %}
		{% endfor %}
		</tr>
		<tr>
		{% for day in month[i] %}
			{% if day[1][0] == -2 %}
				<td><img src="/static/emotion-2.png" width="40%" height="100%"></td>
			{% endif %}
			{% if day[1][0] == -1 %}
				<td><img src="/static/emotion-1.png" width="40%" height="100%"></td>
			{% endif %}
			{% if day[1][0] == 0 %}
				<td><img src="/static/emotion0.png" width="40%" height="100%"></td>
			{% endif %}
			{% if day[1][0] == 1 %}
				<td><img src="/static/emotion1.png" width="40%" height="100%"></td>
			{% endif %}
			{% if day[1][0] == 2 %}
				<td><img src="/static/emotion2.png" width="40%" height="100%"></td>
			{% endif %}
			{% if day[1][0] == 9 %}
				<td><img src="/static/nothing.png" width="40%" height="100%"></td>
			{% endif %}
		{% endfor %}
		</tr>
		<tr>
		{% for day in month[i] %}
			<td><textarea row="7" col="20" style="width:90%" readonly="readonly">{{day[2]}}</textarea></td>
		{% endfor %}
		</tr>
	{% endfor %}
{% else %}
감정로그가 없습니다.
{% endif %}
</table><br>
<h2 class="centerText">
<form id="calendar" action="{{ url_for('calendarresult') }}" method="POST">
	<input type="submit" name="prev" value="{{prev}}월"><input type="submit" name="next" value="{{next}}월">
</form>
<br>
</h2>
<h2 class="centerText"><a href="{{ url_for('index') }}">메인 페이지로</a></h2>
{% endblock %}