{% extends "layout.html" %}

{% block contentBoxEN %}
<h2 class="centerText">Hi {{ user.name }}</h2>
	<p>You've already finished the CES-D and now its time to play some other games.</p>
    <p>We have collected some interesting games that you can try. Scores will <strong>not</strong> be shared.</p>
    <h2 class="centerText"><a href="{{ url_for('game') }}">Play a game!</a></h2>
{% endblock %}


{% block contentBoxKR %}
<h2 class="centerText">{{ user.name }}님, 감사합니다!</h2>
	<p>테스트 결과, {{ user.name }}님의 감정은 <strong>{{ user.score.score }}</strong>점이며, 다음과 같이 표현될 수 있습니다.</p>


	<script type="text/javascript"> 
	if ( 'user.score' < 10){
  		<CENTER><img src="http://webst-kaist.org/maps/fb01.jpg" width="400" height="400" border="3"></CENTER>;
	} else if ( 'user.score' >= 10 & 'system' < 21){
  		<CENTER><img src="http://webst-kaist.org/maps/fb02.jpg" width="400" height="400" border="3"></CENTER>;
	} else {
  		<CENTER><img src="http://webst-kaist.org/maps/fb03.jpg" width="400" height="400" border="3"></CENTER>;
	}
	</script>

    <!-- <CENTER><img src="http://webst-kaist.org/maps/fb01.jpg" width="400" height="400" border="3"></CENTER> -->

	<br>이제 다른 게임을 해보시는 것은 어떠신가요?.<br>
    <p>바로 시도해보실 수 있는 흥미로운 게임들이 더 준비되어 있습니다. <strong>점수는 공개되지 않습니다.</strong></p>
    <h2 class="centerText"><a href="{{ url_for('game') }}">게임하기</a></h2>
{% endblock %}