<!doctype html>
<html>

<head>
 <title>{{ user.name }}'s EmotionDiary</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
 <meta name="apple-mobile-web-app-capable" content="yes" />
 <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

 <meta property="og:title" content="Emotion Diary" />
 <meta property="og:type" content="activity" />
 <meta property="og:url" content="http://apps.facebook.com/emotiondiarypython" />
 <meta property="og:image" content="http://webst-kaist.org/maps/emotiondiary_logo.png" />
 <meta property="og:site_name" content="EmotionDiaryPython" />
 <meta property="fb:app_id" content="395527847191253" />

 <link href="/static/style.css" rel="stylesheet" type="text/css" media="screen">
 <link href="/static/mediaquery.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=395527847191253";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header id="heading"><a href="{{ url_for('index') }}">Welcome to EmotionDiary, {{ user.name }}!</a>
<div id="points">You have {{ user.points }} points. <a href="{{ url_for('game') }}" >Keep playing for more!<a></div>
</header> 

{% with messages = get_flashed_messages(category_filter=["system"])
 %}
  {% if messages %}
  <div id="globalFlashing">
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

{% include 'nav.html' %}

<!-- This section selects language based on the user.locale variable -->
<div id="content">
<section class="box">
    {% if user.locale == 'en_US' %}
      {% block contentBoxEN %}{% endblock %}
    {% elif user.locale == 'ko_KR' %}
      {% block contentBoxKR %}{% endblock %}
    {% endif %}
</section>
</div>

<footer><a href="https://www.facebook.com/groups/355672761196989/" target="_blank"><strong>Report Issues</strong></a> - <strong>Administrates:</strong> <a href="{{ url_for('database') }}">View the DB</a></footer>
</body>