<!doctype html>
<html>

<head>
<title>{{ user.name }}'s EmotionDiary</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="heading">Welcome to EmotionDiary, {{ user.name }}
<div id="points">You have {{ user.points }} points. <a href="{{ url_for('game') }}" >Keep playing for more<a></div></div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="globalFlashing">
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}
  <div id="navigation">
  <ul id="leftMenu">
  <li><strong>Activities</strong></li>
  <li><a href="{{ url_for('test') }}">CES-D</a></li>
  <li><a href="{{ url_for('test') }}">BID</a></li>
  <li><a href="{{ url_for('test') }}">PHQ</a></li>
  {% if user.points > 2 %}
    <li><strong>Games</strong></li>
  <li><a href="{{ url_for('game') }}">Stroop Effect</a></li>
  <li><a href="{{ url_for('game') }}">Find Patterns</a></li>
  <li><strong>Social</strong></li>
  <li><a href="{{ url_for('share') }}">Share Activity</a></li>
  <li><a href="{{ url_for('share') }}">Invite Friends</a></li>
  {% endif %}
  <li><strong><a href="{{ url_for('userInfo') }}">User Data</a></strong></li>
  <li><strong><a href="{{ url_for('about') }}">About</a></strong></li>
  </ul>
</div>
<div id="content">
<section class="box">
    {% block contentBox %}{% endblock %}
</section>
</div>
</body>