<!doctype html>
<html>

<head>
<title>{{ user.name }}'s EmotionDiary</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link href="/static/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<header id="heading">Welcome to EmotionDiary, {{ user.name }}
<div id="points">You have {{ user.points }} points. <a href="{{ url_for('game') }}" >Keep playing for more<a></div>
</header> 

{% with messages = get_flashed_messages(category_filter=["system"])
 %}
  {% if messages %}
  <div id="globalFlashing">
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </div>
  {% endif %}
{% endwith %}

{% include 'nav.html' %}

<!-- This section selects language based on the user.locale variable -->
<div id="content">
<section class="box">
    {% if user.locale == 'ko_KR' %}
      {% block contentBoxKR %}{% endblock %}
    {% elif user.locale == 'en_US' %}
      {% block contentBoxEN %}{% endblock %}
    {% endif %}
</section>
</div>

<footer><a href="https://www.facebook.com/groups/355672761196989/" target="_blank"><strong>Report Problems</strong></a> - <strong>Administrate:</strong> <a href="{{ url_for('database') }}">View the database</a>.</footer>
</body>