{% if user.locale == 'en_US' %}
<nav id="navigation">
  <ul id="leftMenu">
  <li><strong>Learn</strong></li>
  <li><a href="{{ url_for('test') }}">Surveys</a></li>
  <li><a href="{{ url_for('tips') }}">More Tips</a></li>
  {% if user.points >= 1 %}
    <li><strong>Play</strong></li>
  <li><a href="{{ url_for('game') }}">Stroop Effect</a></li>
  <!-- <li><a href="{{ url_for('game') }}">Find Patterns</a></li> -->
  <li><strong>Share</strong></li>
  <li><a href="{{ url_for('share') }}">Share Activity</a></li>
  <li><a href="{{ url_for('share') }}">Invite Friends</a></li>
  {% endif %}
  <li><strong>Project</strong></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
  <!-- <li><a href="{{ url_for('userInfo') }}">Privacy</a></li> -->
  </ul>
</nav>

<!-- Translate these Items into Korean -->
{% elif user.locale == 'ko_KR' %}
<nav id="navigation">
  <ul id="leftMenu">
  <li><strong>활동 내역</strong></li>
  <li><a href="{{ url_for('test') }}">설문조사</a></li>
  <li><a href="{{ url_for('tips') }}">좀 더 알아보기</a></strong></li>
  {% if user.points >= 1 %}
    <li><strong>게임</strong></li>
  <li><a href="{{ url_for('game') }}">스트룹 검사</a></li>
<!-- <li><a href="{{ url_for('game') }}">패턴 찾기</a></li> -->
  <li><strong>소셜활동</strong></li>
  <li><a href="{{ url_for('share') }}">공유하기</a></li>
  <li><a href="{{ url_for('share') }}">친구 초대하기</a></li>
  {% endif %}
<!--  <li><strong><a href="{{ url_for('userInfo') }}">사용자 정보</a></strong></li> -->
  <li><strong><a href="{{ url_for('about') }}">About</a></strong></li>
  </ul>
</nav>
{% endif %}