<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>Request Friends</title>
  </head>

  <body>
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <!-- <p> -->
      <!-- <input type="button" -->
        <!-- onclick="sendRequestToRecipients(); return false;" -->
        <!-- value="Send Request to Users Directly" -->
      <!-- /> -->
      <!-- <input type="text" value="User ID" name="user_ids" /> -->
      <!-- </p> -->
        
    <script>
      FB.init({
        appId  : '395527847191253',
        frictionlessRequests: true
      });

      function sendRequestToRecipients() {
        var user_ids = document.getElementsByName("user_ids")[0].value;
        FB.ui({method: 'apprequests',
          message: 'My Great Request',
          to: user_ids
        }, requestCallback);
      }

      function sendRequestViaMultiFriendSelector() {
        FB.ui({method: 'apprequests',
          message: 'Invite friends to Emotion Diary!'
        }, requestCallback);
      }
      
      function requestCallback(response) {
        // Handle callback here
      }
    </script>
  </body>
</html>


{% if user.locale == 'en_US' %}
<nav id="navigation">
  <ul id="leftMenu">
  <li><strong>Learn</strong></li>
  {% if not 'CESD1' in user.testscores.keys() %}
    <li><a href="{{ url_for('test') }}">1st Survey</a></li>
  {% endif %}
  <li><a href="{{ url_for('tips') }}">More Tips</a></li>
  {% if user.points >= 1 %}
    <li><strong>Play</strong></li>
  <li><a href="{{ url_for('game') }}">Stroop Effect</a></li>
  <!-- <li><a href="{{ url_for('game') }}">Find Patterns</a></li> -->
  <li><strong>Share</strong></li>
  <li><a href="https://www.facebook.com/dialog/feed?
  app_id=395527847191253&
  link=https://apps.facebook.com/emotiondiarypython/&
  picture=http://webst-kaist.org/maps/emotiondiary_logo.png&
  name=Emoion%20Diary&
  caption=Share%20your%20emotion%20with%20friends!&
  description=Using%20Emotion%20Diary%20to%20self-check%20your%20emotion.&
  redirect_uri=https://apps.facebook.com/emotiondiarypython/">Share Activity</a></li>
  <li><a onClick="sendRequestViaMultiFriendSelector(); return false;">
      Invite Friends</a></li> <!-- Invite Friends: Find "Request" at facabook developers webpage -->
  {% endif %}
  <li><strong>Project</strong></li>
  <li><a href="{{ url_for('about') }}">About</a></li>
  <!-- <li><a href="{{ url_for('userInfo') }}">Privacy</a></li> -->
  </ul>
</nav>
{% endif %}

<!-- Translate these Items into Korean -->
{% if user.locale == 'ko_KR' %}
<nav id="navigation">
  <ul id="leftMenu">
  <li><strong>활동 내역</strong></li>
  {% if not 'CESD1' in user.testscores.keys() %}
    <li><a href="{{ url_for('test') }}">1차 설문조사</a></li>
  {% endif %}
  <li><a href="{{ url_for('tips') }}">좀 더 알아보기</a></strong></li>
  {% if user.points >= 1 %}
    <li><strong>게임</strong></li>
  <li><a href="{{ url_for('game') }}">스트룹 검사</a></li>
<!-- <li><a href="{{ url_for('game') }}">패턴 찾기</a></li> -->
  <li><strong>소셜활동</strong></li>
  <li><a href="https://www.facebook.com/dialog/feed?
  app_id=395527847191253&
  link=https://apps.facebook.com/emotiondiarypython/&
  picture=http://webst-kaist.org/maps/emotiondiary_logo.png&
  name=Emoion%20Diary&
  caption=Share%20your%20emotion%20with%20friends!&
  description=Using%20Emotion%20Diary%20to%20self-check%20your%20emotion.&
  redirect_uri=https://apps.facebook.com/emotiondiarypython/">공유하기</a></li>
  <li><a onClick="sendRequestViaMultiFriendSelector(); return false;">
      친구 초대하기</a></li> <!-- Invite Friends: Find "Request" at facabook developers webpage -->
  {% endif %}
  <li><strong><a href="{{ url_for('about') }}">About</a></strong></li>
  <!-- <li><strong><a href="{{ url_for('userInfo') }}">사용자 정보</a></strong></li> -->
  </ul>
</nav>
{% endif %}