{% extends "layout.html" %}

{% block contentBoxEN %}
<h2 class="centerText">Today's tip about Depression</h2>

<p>{{ tip.tip }}</p>
<p>{{ tip.citation }}</p>
<p>{{ tip.url }}</p>
<p>{{ tip.question }}</p>

<form id="tipAnswers" action="{{ url_for('tips') }}" method="POST">
<ol>
<input type="radio" name="response" value="correct"><li>{{ tip.answer }}</li><br>
{% for wrong in tip.wrong %}
  <input type="radio" name="response" value="wrong"><li>{{ wrong }}</li><br>
{% endfor %}
</ol>
<input type="submit" value="Submit">
</form>

{% endblock %}

{% block contentBoxKR %}
<h2 class="centerText">알고 계십니까?</h2>

<p>{{ tip.tip }}</p>
<p>출처 :: <a href = {{ tip.url }}>{{ tip.citation }}</a></p>
<p><strong>문제 : </strong>{{ tip.question }}</p>

<form id="tipAnswers" action="{{ url_for('tips') }}" method="POST">
<ol>
<input type="radio" name="response" value = {{ questionNum }}1 ><li>{{ tip.answer }}</li><br>
{% for wrong in tip.wrong %}
  <input type="radio" name="response" value = {{ questionNum }}0 ><li>{{ wrong }}</li><br>
{% endfor %}
</ol>
<input type="submit" value="제출!">
</form>

{% endblock %}