{% extends "layout.html" %}

<!-- Shows tips, at each tip the user answers a question, after answering they get points -->

{% block contentBoxEN %}
<h2 class="centerText">Learn About Depression</h2>
<p class="centerText">{{ tip.questionText }}</p>

<form id="tipAnswers" action="{{ url_for('tips') }}" method="POST">
<ol>
{% for answer in tip.answers %}
	<button name="{{ answer.answerID }}"><li>{{ answer.answerText }}</li></button>
{% endfor %}
</ol>
<input type="submit" value="Submit">
</form>

{% with messages = get_flashed_messages(category_filter=["tip"])
 %}
  {% if messages %}
  <div id="tipFlashing">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
    <input type="button" value="Next Tip">
  </div>
  {% endif %}
{% endwith %}

{% endblock %}

{% block contentBoxKR %}
<h2 class="centerText">This should be a korean version of the text above.</h2>
{% endblock %}