{% extends "layout.html" %}

{% block contentBoxEN %}
<h2 class="centerText">Thanks, {{ user.name }}!</h2>
	<p>안타깝습니다. 정답을 맞추지 못하셨습니다.<br>현재 {{ user.name }}님의 포인트는 1점 올라 (<strong>{{ user.points }}</strong>)점입니다.</p><br>

	<p>이제 다른 게임을 해보시는 것은 어떠신가요? 바로 시도해보실 수 있는 흥미로운 게임들이 더 준비되어 있습니다.</p>
    <h2 class="centerText"><a href="{{ url_for('game') }}">게임하기</a></h2>
{% endblock %}


{% block contentBoxKR %}
<h2 class="centerText">{{ user.name }}님, 감사합니다!</h2>
	<p>안타깝습니다. 정답을 맞추지 못하셨습니다.<br>현재 {{ user.name }}님의 포인트는 1점 올라 (<strong>{{ user.points }}</strong>)점입니다.</p><br>

	<p>이제 다른 게임을 해보시는 것은 어떠신가요? 바로 시도해보실 수 있는 흥미로운 게임들이 더 준비되어 있습니다.</p>
    <h2 class="centerText"><a href="{{ url_for('game') }}">게임하기</a></h2>
{% endblock %}